Repository atlarge-research/opendc-simulator, pull requests merged in 2018-12, with the labels that each got.

#34 Improve error handling around incorrect task dependencies
  opendc-model-odc/sc18/src/main/kotlin/com/atlarge/opendc/model/odc/platform/workload/format/sgwf/SgwfParser.kt
Labels: Module: model:odc

#35 Implementation of HEFT scheduling policy
  opendc-model-odc/core/src/main/kotlin/com/atlarge/opendc/model/odc/platform/scheduler/stages/machine/Selection.kt
  opendc-model-odc/core/src/main/kotlin/com/atlarge/opendc/model/odc/platform/scheduler/stages/task/Sorting.kt
  opendc-model-odc/core/src/main/kotlin/com/atlarge/opendc/model/odc/platform/workload/Task.kt
  opendc-model-odc/core/src/main/kotlin/com/atlarge/opendc/model/odc/topology/machine/Machine.kt
  opendc-model-odc/jpa/src/main/kotlin/com/atlarge/opendc/model/odc/integration/jpa/converter/SchedulerConverter.kt
  opendc-model-odc/jpa/src/main/kotlin/com/atlarge/opendc/model/odc/integration/jpa/schema/Machine.kt
  opendc-model-odc/jpa/src/main/kotlin/com/atlarge/opendc/model/odc/integration/jpa/schema/Task.kt
  opendc-model-odc/jpa/src/main/resources/jpa/schema.xml
  opendc-model-odc/sc18/src/main/kotlin/com/atlarge/opendc/model/odc/platform/Sc18PlatformRunner.kt
  opendc-model-odc/sc18/src/main/kotlin/com/atlarge/opendc/model/odc/platform/workload/format/sgwf/SgwfParser.kt
  opendc-model-odc/sc18/src/main/kotlin/com/atlarge/opendc/model/odc/topology/format/sc18/Model.kt
  opendc-model-odc/sc18/src/main/kotlin/com/atlarge/opendc/model/odc/topology/format/sc18/Sc18SetupParser.kt
Labels: Module: model:odc, Type: Feature

#38 Implementation of Round Robin scheduling policy
  opendc-model-odc/core/src/main/kotlin/com/atlarge/opendc/model/odc/platform/scheduler/stages/machine/Selection.kt
  opendc-model-odc/jpa/src/main/kotlin/com/atlarge/opendc/model/odc/integration/jpa/converter/SchedulerConverter.kt
  opendc-model-odc/sc18/src/main/kotlin/com/atlarge/opendc/model/odc/platform/Sc18PlatformRunner.kt
Labels: Module: model:odc, Type: Feature

#37 Implementation of PISA scheduling policy
  opendc-model-odc/core/src/main/kotlin/com/atlarge/opendc/model/odc/platform/scheduler/stages/task/Sorting.kt
  opendc-model-odc/core/src/main/kotlin/com/atlarge/opendc/model/odc/platform/workload/Task.kt
  opendc-model-odc/jpa/src/main/kotlin/com/atlarge/opendc/model/odc/integration/jpa/converter/SchedulerConverter.kt
  opendc-model-odc/jpa/src/main/kotlin/com/atlarge/opendc/model/odc/integration/jpa/schema/Task.kt
  opendc-model-odc/jpa/src/main/resources/jpa/schema.xml
  opendc-model-odc/sc18/src/main/kotlin/com/atlarge/opendc/model/odc/platform/Sc18PlatformRunner.kt
  opendc-model-odc/sc18/src/main/kotlin/com/atlarge/opendc/model/odc/platform/workload/format/sgwf/SgwfParser.kt
Labels: Module: model:odc, Type: Feature

#36 Implementation of CPOP scheduling policy
  opendc-model-odc/core/src/main/kotlin/com/atlarge/opendc/model/odc/platform/scheduler/stages/machine/Selection.kt
  opendc-model-odc/core/src/main/kotlin/com/atlarge/opendc/model/odc/platform/scheduler/stages/task/Sorting.kt
  opendc-model-odc/jpa/src/main/kotlin/com/atlarge/opendc/model/odc/integration/jpa/converter/SchedulerConverter.kt
  opendc-model-odc/sc18/src/main/kotlin/com/atlarge/opendc/model/odc/platform/Sc18PlatformRunner.kt
Labels: Module: model:odc, Type: Feature

#39 bug: Fix task dependents column handling via JPA
  opendc-model-odc/jpa/src/main/resources/jpa/schema.xml
Labels: Module: model:odc, Type: Bug

#40 bug: Fix ArrayOutOfBoundsException in Round Robin policy
  opendc-model-odc/core/src/main/kotlin/com/atlarge/opendc/model/odc/platform/scheduler/stages/machine/Selection.kt
Labels: Module: model:odc, Type: Bug
